.flash-box
.wapper
  .chat-side
    .side-headder
      .side-headder__box
        %p.side-headder__box__name ss 
        %ul.side-headder__box__user-menu
          %li.side-headder__box__user-menu__icon
            =link_to root_path do
              %i.fa.fa-edit
          %li.side-headder__box__user-menu__icon
            =link_to root_path do
              %i.fa.fa-cog
    .groups
      %a
        =link_to root_path do
          .group
            %p.group__name みそ
            %p.group__message 大豆と塩
  .chat-main
    .main-headder
      .current-group
        %h2.current-group__name
          pp
        %ul.member-list 
          Member : 
          %li.member-list__member rr
          %li.member-list__member oo
      %a{:href => '/'}
        .main-headder__edit-btn Edit
    .messages
      .message
        .message__uper-info
          .message__uper-info__talker qq
          .message__uper-info__date 20190202
        %p.message__text 作り方
    .form
      %form.new-message#new-message{:enctype => "multipart/form-data", :action => "/", :accept-charset => "UTF-8", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✔︎"}
        %input{:type => "hidden", :name => "authenticity", :value => "01AaSVZIMCk2VDP2VOQd+AlH5VA6Gj62OP7jxWJNwi570HkHdBf+7JQogFKKZZcF+zUYwJ1RciyCvD8KGTvl+w=="}
        .input-box
          %input.input-box__text{:placeholder => "type a message", :type => "text", :name => "message[content]"}
          %label.input-box__image{:for => "massage_image"}
            %i.fa.fa-image
            %input.input-box__image__file#message_image{:type => "file", :name => "message[image]"}
        %input.submit-btn{:type => "submit", :name => "commit", :value =>"Send", :data-disable-with => "Send"}
